#webMethods Deployer Configurations
#Fri Apr 08 10:39:57 KST 2022
enableAdapters=false
projectLocking=false
10.3_AgileApps_compatibleVersions=10.11
BAM.PartialImplementation.classpath=
10.11_AgileApps_compatibleVersions=10.15
IS.PartialImplementation.classpath=com.wm.app.b2b.server.deployer.ISPartialCompositeImpl
10.2_AgileApps_compatibleVersions=10.10
9.12_AgileApps_compatibleVersions=10.7
disableServices=true
maxPluginObjects=2500
overwrite=ALWAYS
reloadPackages=false
deployTNRules=MERGE
10.1_AgileApps_compatibleVersions=10.9
stopAdapters=true
8.0_compatibleVersions=8.2
solutionDeploymentOrder=Broker,IS,TN,AppPlatform,TaskEngine,MWS,EDA,ProcessModel,Optimize,RULES,EventServer,UniversalMessaging,RULESMWS,AgileApps,MFT,APIGateway,DES
disableConcurrentDeploymentForPluginType=MWS
compilePackages=false
stopListeners=false
validISVersions=10.11@SPI_2,10.7@SPI_1,10.5@SPI_1,10.4@SPI_1,10.3@SPI_1,10.2@SPI_1,10.1@SPI_1,10.0@SPI_1,9.12@SPI_1,9.10@SPI_1,9.9@SPI_1,9.8@SPI_1,9.7@SPI_1,9.6@SPI_1,9.5@SPI_1,9.0@SPI1,8.2@SPI1,8.0@SPI0,7.1@SPI0
10.4_AgileApps_compatibleVersions=10.12
clusterServiceInvokeTimeout=50
reduceDependencyChecks=false
checkpointAutomatic=false
largeFileSupport=false
UniversalMessaging.PartialImplementation.classpath=com.softwareag.num.deployer.impl.NumPartialComposite
EDA.PartialImplementation.classpath=
serviceTimeout=3600000
auditLog=
connectionCleanupInterval=10
stopServices=false
optimisticNetwork=false
deployScheduledTaskByID=false
concurrentDeployment=true
TN.PartialImplementation.classpath=com.wm.app.tn.acdl.repository.TNPartialComposite
Broker.PartialImplementation.classpath=com.softwareag.broker.deployer.impl.BrokerPartialComposite
EventServer.PartialImplementation.classpath=
hideACDL=false
10.7_AgileApps_compatibleVersions=10.14
runtimeBatchSize=10
MWS.PartialImplementation.classpath=
RULES.PartialImplementation.classpath=
repoBatchSize=1
targetServerCacheRefreshTime=300
noDependencyChecks=false
10.0_AgileApps_compatibleVersions=10.8
deployACLMap=true
CEP.PartialImplementation.classpath=
disablePorts=true
10.5_AgileApps_compatibleVersions=10.13
MFT.PartialImplementation.classpath=com.softwareag.mft.acdl.MFTPartialComposite
APIGateway.PartialImplementation.classpath=com.softwareag.apigateway.deployer.APIGatewayPartialComposite
rollbackAutomatic=false
stopTriggers=selected
BPM.PartialImplementation.classpath=
acdlSchemaFilePath=.\\packages\\WmDeployer\\config\\ACDL.xsd
